@import url('https://fonts.googleapis.com/css?family=Roboto+Slab');
* {
    margin: 0;
    padding: 0;
}

.inicio {
    text-align: center;
    text-decoration: underline;
}

h1 {
    font-size: 3rem;
}

.segundo {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.panel-heading .accordion-toggle:after {

    font-family: 'Glyphicons Halflings';
    content: "\e114";
    float: left;
    color: white;
    padding-right: 5px;
}

.panel-heading .accordion-toggle.collapsed:after {

    content: "\e080";
}

.panel-heading {}

.panel-title a {
    text-decoration: none;
    display: block;
    padding: 10px 15px;
    margin: -10px -10px;
}

.panel-title a:hover {
    text-decoration: none;
}

.panel-body {
    font-family: 'Roboto Slab', serif;
    font-size: 1.5rem;
}

.tercero {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    display: block;

}

.imagen {
    text-align: center;
}

.imagen img {
    width: 320px;
    max-width: 90%;
    height: auto;
    border: 1px solid rgba(128, 128, 128, 0.22);
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}

.imagen-home {
    text-align: center;
}

.imagen-home img {
    max-width: 80%;
    height: auto;
    border: 1px solid rgba(128, 128, 128, 0.22);
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}

.nav {
    text-align: center;
}

.nav img {
    max-width: 90%;
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}

.CargarAlumno {
    text-align: center;
}

.CargarAlumno img {
    max-width: 80%;
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}

.CargarPadrino {
    text-align: center;
}

.CargarPadrino img {
    max-width: 90%;
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}

.ModificarAlumno {
    text-align: center;
}

.ModificarAlumno img {
    border: 1px solid rgba(128, 128, 128, 0.27);
    max-width: 90%;
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}

.RegistrarPago {
    text-align: center;
}

.RegistrarPago img {
    max-width: 90%;
    -webkit-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 29px -12px rgba(0, 0, 0, 0.75);
}
