.contenedor{
    position: absolute;
    padding-top: 10px;
    width: 90%;
    left: 5%;
    display: block;
    border-bottom: 1px solid black;
    border-top: 1px solid black;
}
.row{
    min-width: 90%;
    font-weight: bolder;
    text-align: center;
}
.filas{
    font-size: 14px;
    font-weight: bolder;
    background-color: rgba(214, 228, 240, 0.6);
}
.dataTables_paginate{
    font-size: 12px;
    padding-bottom: 5px;

}
