<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <!-- Mobile Stuff -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="msapplication-tap-highlight" content="">

    <!-- Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="icon" sizes="192x192" href="../resource/images/logo_icon.ico">

    <!-- Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>Ayuda</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="../resource/css/bootstrap.css">
    <link rel="stylesheet" href="../resource/css/estilos-ayuda.css">
</head>
<div class="inicio">
    <h1>Bienvenido a la guia para el usuario</h1>
</div>
<div class="segundo">
    <h4>En esta gu&iacute;a, encontrar&aacute; todo los que necesita saber para utilizar correctamente el software</h4>
</div>
<div class="tercero">
    <h4>Se debe contar con nombre de usuario y contraseña para poder acceder al sistema y se los debe ingresar en la siguiente pantalla:</h4>
    <div class="imagen">
        <img src="../resource/images/Login.PNG" title="Login">
    </div>
    <br>
    <h4>Una vez que haya ingresado los datos en la pantalla anterior, podr&aacute; visualizar un el siguiente men&uacute; de navegaci&oacute;n:</h4>
    <div class="nav">
        <img src="../resource/images/Nav.jpg" alt="" title="Barra de navegación">
    </div>
    <br>
    <h4>Porfavor, seleccione la opci&oacute;n que desee para obtener m&aacute;s informaci&oacute;n.</h4>
</div>

<body>
    <div class="container">
        <div class="panel-group" id="accordion">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                        Home</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse ">
                    <div class="panel-body">
                        <h4> La primer secci&oacute;n es Home, en la cual podr&aacute; ver una tabla con informaci&oacute;n relacionada con los padrinos y sus respectivos pagos.</h4>
                        <br>
                        <br>
                        <div class="imagen-home">
                            <img src="../resource/images/Home.jpg" alt="Home" title="Página de inicio">
                        </div>
                        <br>
                        <br>
                        <h4>El boton llamado "Columnas" le permitir&aacute; seleccionar las columnas que desee ver.</h4>
                        <h4>Adem&aacute;s, con los botones "Excel" y "PDF" podr&aacute; exportar la tabla en formato excel y pdf respectivamente.</h4>
                        <h4>Por otro lado, podr&aacute; seleccionar la cantidad de filas que desee ver, pudiendo optar por 5, 10, 15, 20 o todas las filas existentes.</h4>
                        <h4>Adicionalmente, se puede buscar informaci&oacute;n deacuerdo a cualquier criterio mostrado en la tabla, en la secci&oacute;n de "Buscar".</h4>
                    </div>
                </div>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          Cargar
        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <div>
                        <h4>En esta secci&oacute;n, prodr&aacute; cargar tanto alumnos como padrinos, completando los datos solicitados.</h4>
                        <h4>En la siguiente pantalla, se muestra el formalario a completar en la carga de un alumno:</h4>
                        </div>
                        <div class="CargarAlumno">
                            <img src="../resource/images/CargarAlumno.jpg" alt="" title="Cargar Alumnos">
                        </div>
                        <div>
                            <h4>A continuaci&oacute;n, se muestra la pantalla de carga de padrinos:</h4>
                        </div>
                        <div class="CargarPadrino">
                            <img src="../resource/images/CargarPadrinos.jpg" alt="" title="Cargar Padrinos">
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          Modificar
        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>En esta secci&oacute;n, prod&aacute; modificar los datos de alumnos, padrinos y pagos.<br/>
                        Seleccionando el &iacute;cono de color azul, se habilitar&aacute; la edici&oacute;n en la respectiva linea, junto con las opciones de guardar los cambios, en color verde, y cancelar, en color rojo, para cancelar la modificaci&oacute;n.</h4>
                        <h4>A continuaci&oacute;n, se muestra la pantalla de modificaci&oacute;n de alumnos:</h4>
                        <div class="ModificarAlumno">
                            <img src="../resource/images/ModificarAlumno.png" alt="Modificar Usuario" title="Modificar Usuario">
                        </div>
                        <br>
                        <h4>El procedimiento es igual tanto para padrinos como para pagos.</h4>
                    </div>
                </div>
            </div>
            <!-- -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">
          Pagos
        </a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        <h4>En esta secci&oacute;n, prodr&aacute; registrar un nuevo pago, completando la informaci&oacute;n solicitada.</h4>
                        <h4>A continuaci&oacute;n, se muestra la pantalla de registro de pago.</h4>
                    </div>
                    <div class="RegistrarPago">
                        <img src="../resource/images/RegistrarPago.jpg" alt="">
                    </div>
                    <br>
                    <div>
                        <h4>Una vez que haya seleccionado el padrino al cual desea registrar el pago, podr&aacute; ver los datos en la secci&oacute;n inmdiatamente inferior. <br>
                        En la secci&oacute;n "Datos de facturaci&oacute;n", prod&aacute; ver los datos registrados y adem&aacute;s, podr&aacute; agregar un nuevo dato de facturaci&oacute;n sin tener que ir a la sercci&oacute;n de carga. <br>
                        Una vez que haya completado todos los datos necesarios, se generar&aacute; el registro correspondiente.</h4>
                    </div>
                </div>
            </div>
            <!-- -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">
          Administrar Usuarios
        </a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!-- -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">
          Vincular
        </a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!-- -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven">
          Listados
        </a>
                    </h4>
                </div>
                <div id="collapseSeven" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!-- -->

            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseEight">
          Reportes
        </a>
                    </h4>
                </div>
                <div id="collapseEight" class="panel-collapse collapse">
                    <div class="panel-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                    </div>
                </div>
            </div>
            <!-- -->

        </div>


    </div>
    <!-- end container -->

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


    <!-- Scripts -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        (function(i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function() {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-XXXXXXXX-X', 'auto');
        ga('send', 'pageview');
    </script>
</body>

</html>
