<!DOCTYPE html>
<html lang="en">
<scr><hre></hre></scr>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cargar Padrino</title>
    <link rel="stylesheet" href="/resource/css/estilos-carga.css">
</head>
<body>
   <form>
       <h2>
           Cargar Padrinos
       </h2>
       <h4>Porfavor, ingrese los siguientes datos</h4>
       <br></br>
       <p>Nombre</p>
       <input type="text" placeholder="Nombre" name="nombre" id="">
       <p>Apellido</p>
       <input type="text" placeholder="Apellido" name="apellido" id="">
   </form>

</body>
</html>
