<!DOCTYPE html>
<html lang="en">
<head>
    <title>Cargar Pago</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../resource/js/chosen.js"></script>
    <script src="../resource/js/scriptPagos.js"></script>

     <!--Menu-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resource/css/estilos-alertas-toast.css">
    <link rel="stylesheet" href="/resource/css/estilo-menu.css">
    <link rel="stylesheet" href="../resource/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script type="text/javascript" src="../resource/js/scriptSession.js"></script>
    <script type="text/javascript" src="../resource/js/alertas.js"></script>
    <!--Menu-->

    <link rel="stylesheet" href="../resource/css/estilos-consulta.css">
    <link rel="stylesheet" href="../resource/css/estilos-tablas.css">
    <link rel="stylesheet" href="../resource/css/estilos-modalConsulta.css">
    <link rel="stylesheet" href="../resource/css/estilo-chosen.css" />
</head>

<body>
     <!--Menu-->
    <header id="menuid">

    </header>
    <div class="container">
        <form id="formularioPago" method="post">
            <div class="panel-heading">
                <h1><strong>Registrar Pago</strong></h1>
            </div>
            <h3>Seleccione una opcion</h3>

            <div class="">

                <div class="w3-container-general">
                    <div class="row-modal">

                        <div class="col-lg-12">
                            <select id="schedule_event" name="listaPadrinoAhijado" data-placeholder="Nombre ó apodo de Padrino ó Alumno" class="chosen-select" tabindex="2">

              <option value="" selected></option>

            </select>
                        </div>
                    </div>
                    <div class="">
                       <br>
                       <br>
                        <h3>Datos del Padrino</h3>
                    </div>
                    <div class="panelEntrada">
                        <div class="panelInterno">
                            <p>Alias <input type="text" id="Palias" disabled/></p>
                            <p>Apellido<input type="text" id="Papellido" disabled/></p>
                            <p>Cuil/Cuit<input type="text" id="Pcuil" disabled/></p>
                        </div>
                        <div class="panelInterno">
                            <p>Nombre<input type="text" id="Pnombre" disabled/></p>
                            <p>DNI <input type="text" id="Pdni" disabled/></p>
                        </div>
                    </div>
                    <div class="">
                        <h3>Datos del Ahijado</h3>
                    </div>
                    <div class="panelEntrada">
                        <div class="panelInterno">
                            <p>Alias <input type="text" id="Aalias" disabled/></p>
                            <p>Apellido<input type="text" id="Aapellido" disabled/></p>

                        </div>
                        <div class="panelInterno">
                            <p>Nombre<input type="text" id="Anombre" disabled/></p>
                            <p>Grado/Curso<input type="text" id="AcursoGrado" disabled/></p>
                        </div>
                    </div>
                    <div class="">
                        <h3>Datos de Facturacón</h3>
                    </div>
                    <div class="panelEntrada">
                        <div class="panelInterno col-md-12">
                            <table id="tablaDatosFacturacion" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Nombre</th>
                                        <th>DNI</th>
                                        <th>Cuil/Cuit</th>
                                        <th>Calle</th>
                                        <th>altura</th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <div class="">
                        <h3>Datos del Pago</h3>
                    </div>

                    <div class="panelEntrada">

                        <div class="panelInterno">
                            <div class="col-lg-4">
                                <p>Tipo pago <select id="tipoPago" class="form-control">
                                <option value=""></option>
                                </select></p>

                            </div>
                            <br>
                            <br>
                            <br>
                            <br>
                            <p>Monto<input type="text" name="monto" required placeholder="Ingrese monto" /></p>
                            <p>Fecha de pago<input type="date" name="fechaPago" required /></p>
                            <p>Número de factura generada por la fundación <input type="texta" name="nroFactura" pattern="[0-9]" placeholder="Ingrese número de factura" /></p>
                            <p>Comprobante de pago<input type="text" name="comprobante" required placeholder="Ingrese comprobante" /></p>
                            <p>Observaciones <input type="text" name="observaciones" /></p>
                        </div>


                    </div>
                </div>
                <br>

            </div>


            <div class="foot">
                <input type="submit" value="Cargar" id="cargaPago" />
            </div>
        </form>
    </div>
</body>
</html>
