<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="CHANGE-ME">
    <link rel="icon" sizes="192x192" href="../resource/images/logo_icon.ico">

    <title>Cargar Pago</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="../resource/js/chosen.js"></script>
    <script src="../resource/js/scriptPagos.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Menu-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resource/css/estilos-alertas-toast.css">

    <link rel="stylesheet" href="../resource/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script type="text/javascript" src="../resource/js/scriptSession.js"></script>
    <script type="text/javascript" src="../resource/js/alertas.js"></script>
    <!--Menu-->

    <link rel="stylesheet" type="text/css" href="/resource/css/estilos-cargarPagos.css" />
    <link rel="stylesheet" href="../resource/css/estilos-tablas.css">
    <link rel="stylesheet" href="../resource/css/estilos-modalConsulta.css">
    <link rel="stylesheet" href="../resource/css/estilo-chosen.css" />

    <!-- rango de fechas -->
    <script type="text/javascript" src="/resource/js/moment_RangoFechas.min.js"></script>
    <script type="text/javascript" src="/resource/js/daterangepicker_RangoFechas.js"></script>
    <link rel="stylesheet" type="text/css" href="/resource/css/daterangepicker_RangoFechas.css" />
    <script src="/resource/js/scriptSingleFechaPago.js"></script>
    <link rel="stylesheet" type="text/css" href="/resource/css/estilos-datepicker-fecha.css" />
    <!-- ----------------------------------------------------------------->

    <!-- Data Tables ----------------------------------------------------->
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/resource/css/estilos-tablas.css">
    <!-- ----------------------------------------------------------------->


</head>

<body>
    <!--Menu-->
    <header id="menuid">

    </header>
    <div class="container">
        <form id="formularioPago" method="post">
            <div class="panel-heading">
                <h1><strong>Registrar Pago</strong></h1>
            </div>
            <h3>Seleccione un Padrino o Ahijado</h3>

            <div class="">

                <div class="w3-container-general">
                    <div class="row-modal">

                        <div class="col-md">
                            <select id="schedule_event" name="listaPadrinoAhijado" data-placeholder="Nombre ó apodo de Padrino ó Alumno" class="chosen-select" tabindex="2">

<option value="" selected></option>

</select>
                        </div>
                    </div>
                    <div>
                        <br>
                        <br>
                        <h3>Datos del Padrino</h3>
                    </div>
                    <div class="panelEntrada">
                        <div class="panelInterno">
                            <p>Alias <input type="text" id="Palias" disabled/></p>
                            <p>Apellido<input type="text" id="Papellido" disabled/></p>
                            <p>Cuil/Cuit<input type="text" id="Pcuil" disabled/></p>
                        </div>
                        <div class="panelInterno">
                            <p>Nombre<input type="text" id="Pnombre" disabled/></p>
                            <p>DNI <input type="text" id="Pdni" disabled/></p>
                        </div>
                    </div>
                    <div class="">
                        <h3>Datos del Ahijado</h3>
                    </div>
                    <div class="panelEntrada">
                        <div class="panelInterno">
                            <p>Alias <input type="text" id="Aalias" disabled/></p>
                            <p>Apellido<input type="text" id="Aapellido" disabled/></p>

                        </div>
                        <div class="panelInterno">
                            <p>Nombre<input type="text" id="Anombre" disabled/></p>
                            <p>Grado/Curso<input type="text" id="AcursoGrado" disabled/></p>
                        </div>
                    </div>
                    <div class="">
                        <h3>Datos de Facturaci&oacute;n</h3>
                    </div>
                    <!-- ********************* Nuevo ************************************ -->
                    <div>
                        <button type="button" class="btn btn-warning btn-md" data-toggle="modal" data-target="#addDomFact">Nuevo</button>


                    </div>

                    <!-- ********************************************************* -->
                    <div class="panelEntrada">
                        <div class="panelInterno col-md-12">
                            <div class="table-responsive">
                                <table id="datosfacturacion" class="table table-hover filas" cellspacing="0" width="100%">
                                    <thead>
                                        <tr class="table-inverse">
                                            <th class="text-center">Nombre</th>
                                            <th class="text-center">DNI</th>
                                            <th class="text-center">Cuil/Cuit</th>
                                            <th class="text-center">calle</th>
                                            <th class="text-center">Altura</th>
                                        </tr>
                                    </thead>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <h3>Datos del Pago</h3>
                    </div>

                    <div class="panelEntrada">

                        <div class="panelInterno">
                            <div class="col-lg-4">
                                <p>Tipo pago <select id="tipoPago" class="form-control">
                                <option value=""></option>
                                </select></p>

                            </div>
                            <br>
                            <br>
                            <br>
                            <div class="col-md-12 div-label-div-datepicker">
                                <label class="label-datepicker">Fecha de Pago:</label>
                                <div id="singleFechaPago" class="div-datepicker">
                                    <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                                    <span class="span-text-responsive"></span> <b class="caret"></b>
                                </div>
                                <br>

                            </div>
                            <br> <br>
                            <p>Monto<input type="text" name="monto" required placeholder="Ingrese monto" pattern="[0-9]" /></p>
                            <p>N&uacute;mero de factura generada por la fundaci&oacute;n <input type="texta" name="nroFactura" pattern="[0-9]" placeholder="Ingrese número de factura" /></p>
                            <p>Comprobante de pago<input type="text" name="comprobante" placeholder="Ingrese comprobante" /></p>
                            <p><label for="DesvincularObs">Observaciones:</label>
                                <textarea class="form-control" rows="3" id="observaciones"></textarea></p>
                        </div>


                    </div>
                </div>
                <br>

                <div class="foot">
                    <input type="submit" value="Cargar" id="cargaPago" />
                </div>

            </div>
        </form>
        <!-- ********************* Modal ************************************ -->
        <div class="modal fade" tabindex="-1" role="dialog" id="addDomFact">
            <div class="modal-dialog modal-md" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button id="cerrarModal-desvincular" type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>

                        <center>
                            <h3 class="modal-title">Datos de facturaci&oacute;n</h3>
                        </center>
                    </div>
                    <form method="post" action="" id="formAddDomFact">
                        <div class="modal-body">
                            <div class="form-group">
                                <label>Nombre o raz&oacute;n social </label>
                                <input type="text" class="form-control" id="fact_nombre" name="fact_nombre" placeholder="Nombre o razón social">
                            </div>
                            <div class="form-group">
                                <label>Apellido</label>
                                <input type="text" class="form-control" id="fact_apellido" name="fact_apellido" placeholder="Apellido">
                            </div>
                            <div class="form-group">
                                <label>DNI</label>
                                <input type="text" class="form-control" id="fact_dni" name="fact_dni" placeholder="DNI">
                            </div>
                            <div class="form-group">
                                <label>CUIL/CUIT </label>
                                <input type="text" class="form-control" id="fact_cuil" name="fact_cuil" placeholder="CUIL/CUIT">
                            </div>
                            <div class="form-group">
                                <label>Calle</label>
                                <input type="text" class="form-control" id="fact_calle" name="fact_calle" placeholder="Calle">
                            </div>
                            <div class="form-group">
                                <label>Nro.</label>
                                <input type="text" class="form-control" id="fact_numero" name="fact_numero" placeholder="Número">
                            </div>
                            <div class="form-group">
                                <label>Piso</label>
                                <input type="text" class="form-control" id="fact_piso" name="fact_piso" placeholder="Piso">
                            </div>
                            <div class="form-group">
                                <label>Depto.</label>
                                <input type="text" class="form-control" id="fact_depto" name="fact_depto" placeholder="Departamento">
                            </div>
                            <div class="form-group">
                                <label>Provincia</label>
                                <input type="text" class="form-control" id="fact_provincia" name="fact_provincia" placeholder="Provincia">
                            </div>
                            <div class="form-group">
                                <label>Ciudad</label>
                                <input type="text" class="form-control" id="fact_ciudad" name="fact_ciudad" placeholder="Ciudad">
                            </div>

                        </div>
                        <div class="modal-footer">
                            <button id="cancelModal-DomFact" type="button" class="btn btn-default">Cancelar</button>
                            <button id="guardarModal-DomFact" type="button" class="btn btn-primary">Guardar</button>
                        </div>
                    </form>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->
    </div>
</body>

</html>
