<!DOCTYPE html>
<html lang="en">
<scr>
    <hre></hre>
</scr>

<head class="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cargar Padrino</title>
    <link rel="stylesheet" href="/resource/css/estilos-carga.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>

<body>

    <header>

        <div>
            <div class="logo">
                <!-- <p><a href="#"></a></p>-->
                <img src="/resource/images/Logo_effeta.png" alt="" class="ancho">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Servios</a></li>
                    <li class="fa fa-user-circle">
                    </li>
                </ul>
            </nav>

        </div>
    </header>
        <div>
            <form class="ancho-form">
                <h2>
                    Cargar Padrinos
                </h2>
                <h3>Porfavor, ingrese los siguientes datos</h3>
                <br>
                <p>Nombre</p>
                <input type="text" placeholder="Nombre" name="nombre" id="">
                <p>Apellido</p>
                <input type="text" placeholder="Apellido" name="apellido" id="">
            </form>
        </div>
</body>

</html>
