<!DOCTYPE html>
<html lang="en">
<scr>
    <hre></hre>
</scr>

<head class="header">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cargar Padrino</title>
    <link rel="stylesheet" href="/resource/css/estilos-carga.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

</head>

<body>

    <header>

        <div>
            <div class="logo">
                <!-- <p><a href="#"></a></p>-->
                <img src="/resource/images/Logo_effeta.png" alt="" class="ancho">
            </div>
            <nav>
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Nosotros</a></li>
                    <li><a href="#">Servios</a></li>
                    <li class="fa fa-user-circle"></li>

                </ul>
                <label for="nav" class="fa fa-user-circle"></label>
            </nav>

        </div>
    </header>
    <form action="../control/CargarController.php" method="post">

        <div class="w3-container">
            <div class="panel-heading">
                <h1><strong>Datos Padrino</strong></h1>
            </div>
            <h5>Por favor, ingrese los siguientes datos</h5>
            <div class="w3-blue w3-card-1">
                <div class="w3-container">

                    <div class="panel-heading">
                        <h3>Datos del Padrino</h3>
                    </div>
                    <div class="panel-body w3-panel w3-blue w3-card-1">
                        <div class="panelEntrada ">
                            <div class="form-group has-error">
                                <p>Nombre <input type="text" name="nombre" /></p>
                                <p>Apellido <input type="text" name="apellido" /></p>
                                <p>Alia <input type="text" name="alia" /></p>
                                <p>DNI <input type="text" name="dni" /></p>
                                <p>Cuil/Cuit <input type="text" name="cuil" /></p>
                                <p>E-mail <input type="text" name="email" /></p>
                                <p>Teléfono <input type="text" name="telefono" /></p>
                                <p>Calle <input type="text" name="calle" /></p>
                                <p>Nro. <input type="text" name="numero" /></p>
                                <p>Piso <input type="text" name="piso" /></p>
                                <p>Depto. <input type="text" name="depto" /></p>
                                <p>Provincia <input type="text" name="provincia" /></p>
                                <p>Ciudad <input type="text" name="ciudad" /></p>
                                <p>Contacto <input type="text" name="contacto" /></p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="w3-container">
                        <div class="panel-heading">
                            <h3>Datos de Facturación</h3>
                        </div>

                        <p>Nombre o razon social <input type="text" name="fact_nombre" /></p>
                        <div class="panel-body w3-panel w3-blue w3-card-1">
                            <div class="panelEntrada ">
                                <p>Apellido <input type="hiden" name="fact_apellido" /></p>
                                <p>DNI <input type="text" name="fact_dni" /></p>
                                <p>E-mail <input type="text" name="fact_email" /></p>
                                <p>Cuil/Cuit <input type="text" name="fac_cuil" /></p>
                                <p>Teléfono <input type="text" name="fac_telefono" /></p>
                                <p>Calle <input type="text" name="fac_calle" /></p>
                                <p>Nro. <input type="text" name="fac_numero" /></p>
                                <p>Piso <input type="text" name="fac_piso" /></p>
                                <p>Depto. <input type="text" name="fac_depto" /></p>
                                <p>Provincia <input type="text" name="fac_provincia" /></p>
                                <p>Ciudad <input type="text" name="fac_ciudad" /></p>
                                <p>este no <input type="text" name="fac_ciudad1" /></p>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <br>
                        <input type="submit" value="Cargar" />
                    </div>
                </div>
            </div>
        </div>

    </form>
</body>

</html>
