<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="CHANGE-ME">
    <link rel="icon" sizes="192x192" href="../resource/images/logo_icon.ico">

    <title>Modificar Alumno</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Data Tables ----------------------------------------------------->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/buttons/1.4.2/js/dataTables.buttons.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap4.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="/resource/css/estilos-tablas.css">
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js"></script>
    <!-- ----------------------------------------------------------------->
    <script src="../resource/js/chosen.js"></script>

    <script src="../resource/js/scriptModificarAlumno.js"></script>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!--Menu-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/resource/css/estilos-alertas-toast.css">

    <link rel="stylesheet" href="../resource/css/bootstrap.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha/css/bootstrap.min.css">
    <script type="text/javascript" src="../resource/js/scriptSession.js"></script>
    <script type="text/javascript" src="../resource/js/alertas.js"></script>
    <!--Menu-->

    <link rel="stylesheet" href="../resource/css/estilos-tablas.css">
    <link rel="stylesheet" href="../resource/css/estilos-modalConsulta.css">
    <link rel="stylesheet" href="../resource/css/estilo-chosen.css" />



</head>

<body>
    <!--Menu-->
    <header id="menuid">

    </header>

    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
            <h1 class="text-center">Modificar Alumno</h1>
        </div>
    </div>
    <div class="contenedor">
        <div class="table-responsive">
            <table id="listarAlumnos" class="table table-hover filas" cellspacing="0" width="100%">
                <thead>
                    <tr class="table-inverse">
                        <th class="text-center">id</th>
                        <th class="text-center">Apodo</th>
                        <th class="text-center">Nombre</th>
                        <th class="text-center">Apellido</th>
                        <th class="text-center">DNI</th>
                        <th class="text-center">Nivel/Curso</th>
                        <th class="text-center">Fecha de Nacimiento</th>
                        <th class="text-center">Edad</th>
                        <th class="text-center">Observaciones</th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>
    </div>
</body>

</html>
