<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <link rel="stylesheet" href="../resource/css/estilos-consulta.css">
    <link rel="stylesheet" href="../resource/css/estilos-alertas-toast.css">

    <link rel="stylesheet" href="../resource/css/estilos-tablas.css">
    <link rel="stylesheet" href="../resource/css/estilos-modalConsulta.css">

    <link rel="stylesheet" href="http://alxlit.name/bootstrap-chosen/bootstrap.css" />

    <script src="../resource/js/chosen.js"></script>
    <script src="../resource/js/alertas.js"></script>
    <script src="../resource/js/scriptPagos.js"></script>

    <script type="text/javascript" src="../resource/js/scriptSession.js"></script>
</head>
<script>
$( document ).ready(function() {
  check("info","","prueba de carga");
});
</script>
<script>
      $(function() {
        $('.chosen-select').chosen();
        $('.chosen-select-deselect').chosen({ allow_single_deselect: true });
      });
    </script>
<body>
    <header>
        <input type="checkbox" id="btn-menu">
        <label for="btn-menu"><img src="/resource/images/icon-menu.png" alt="" >
        </label>

        <nav class="menu">
            <ul>
                <li><a href="">Cargar</a>

                    <ul>
                        <li><a href="../view/CargarPadrino.html">Padrino</a></li>
                        <li><a href="../view/CargarAlumno.html">Alumno</a></li>
                    </ul>
                </li>

                <li><a href="../view/Apadrinaje.html">Apadrinar</a></li>
                <li><a href="../view/AdministrarUsuario.html">Administrar Usuario</a></li>
                <li><a href="">Opcion 3</a></li>
                <li><a href="">Opcion 4</a></li>
                <li><a href="">Opcion 5</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2>Modal Example</h2>
        <form>
     <div class="row">

        <div class="col-lg-3">
            <select id="schedule_event" data-placeholder="Nombre ó apodo de Padrino ó Alumno" class="chosen-select" tabindex="2">
              <option value=""></option>
              <option value="1">United States</option>
              <option value="United Kingdom">United Kingdom</option>
              <option value="Afghanistan">Afghanistan</option>
              <option value="Albania">Albania</option>
              <option value="Algeria">Algeria</option>
              <option value="American Samoa">American Samoa</option>
              <option value="Andorra">Andorra</option>
              <option value="Angola">Angola</option>
              <option value="Anguilla">Anguilla</option>
              <option value="Antarctica">Antarctica</option>
              <option value="Antigua and Barbuda">Antigua and Barbuda</option>
              <option value="Argentina">Argentina</option>
              <option value="Armenia">Armenia</option>
              <option value="Aruba">Aruba</option>
              <option value="Australia">Australia</option>
              <option value="Austria">Austria</option>
              <option value="Azerbaijan">Azerbaijan</option>
              <option value="Bahamas">Bahamas</option>
              <option value="Bahrain">Bahrain</option>
              <option value="Bangladesh">Bangladesh</option>
              <option value="Barbados">Barbados</option>
              <option value="Belarus">Belarus</option>
              <option value="Belgium">Belgium</option>

              <option value="Denmark">Denmark</option>

              <option value="Lithuania">Lithuania</option>
              <option value="Luxembourg">Luxembourg</option>
              <option value="Macao">Macao</option>



              <option value="Western Sahara">Western Sahara</option>
              <option value="Yemen">Yemen</option>
              <option value="Zambia">Zambia</option>
              <option value="Zimbabwe">Zimbabwe</option>
            </select>
          </div>
      </div>

            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Ahijado">Open Modal</button>
            <div class="datagrid">
                <div class="datagrid table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>header</th>
                                <th>header</th>
                                <th>header</th>
                                <th>header</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div id="paging">
                                        <ul>
                                            <li><a href="#"><span>Previous</span></a></li>
                                            <li><a href="#" class="active"><span>1</span></a></li>
                                            <li><a href="#"><span>2</span></a></li>
                                            <li><a href="#"><span>3</span></a></li>
                                            <li><a href="#"><span>4</span></a></li>
                                            <li><a href="#"><span>5</span></a></li>
                                            <li><a href="#"><span>Next</span></a></li>

                                        </ul>
                                    </div>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr class="alt">
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr class="alt">
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="nav">
                        <ul>
                            <li><a href="#" rel="0" class="active">1</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal " id="Ahijado" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" onclick="cancelarModalAlumnos()">&times;</button>
                            <h4 class="modal-title">Apadrinar</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                            </p>
                            <div id="apadrinarAlumno">Padrino elegido: Elizabet Dominguez</div>
                            <p></p>
                            <table id="tablaAlumnosLibres">
                                <tbody>
                                    <tr>

                                        <th onclick="ordenarTablaAlumnosLibres(1)">Alumnos</th>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="radioAlumno" value="Juancito Lopez*3*4">Juancito Lopez</td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="radioAlumno" value="Bartolome Simpsons*2*4">Bartolome Simpsons</td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="radioAlumno" value="Jose Idalgo*1*4">Jose Idalgo</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="modal-footer">
                                <input type="checkbox" name="seConocen" value="1" id="seConocen" />
                                <label for="seConocen">¿Se conocen?</label>
                            </div>
                            <br>
                            <button type="button" class="btnGuardar btn-default" data-dismiss="modal" onclick="guardarApadrinaje()">Guardar</button>
                            <button type="button" class="btnCancelar btn-default" data-dismiss="modal" onclick="cancelarModalAlumnos()">Cancelar</button>

                        </div>
                    </div>

                </div>
            </div>

        </form>
    </div>

</body>
</html>
