<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>toastr.js test</title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<link rel="stylesheet" href="../resource/css/estilos-alertas-toast.css">
	<script type="text/javascript" src="../resource/js/alertas.js"></script>
	<script type="text/javascript" src="../resource/js/scriptCarga.js"></script>
	<style>
	body {
		font-family: helvetica;
	}
	input {
		width: 200px;
		border: 2px solid black;
		background: white;
	}
	::placeholder {
		color: blue;
	}
	.container {
    width: 500px;
    height: 500px;

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
    text-align: center;
	}
	.container items {
		padding: 20px;
	}
	</style>
</head>
<body>
	<div class="container">
		<h1>Javascript toastr.js test</h1>
		<hr><br>
	<form id="checkform" onsubmit="return false">
	<input type="textbox" id="name" placeholder="Your name">
	<input type="textbox" id="comment" placeholder="Comment">
	<button  style="background: white; color: black; border: 2px solid black; cursor: pointer;" class="submit" type="submit"   id="pruebaAlerta">submit</button>
    </form>
	    <br><hr>
	<a style="color: red;">*</a><a>Fill all fields and press the "submit" button.</a>
    </div>
</body>
</html>

