<!DOCTYPE html>
<html lang="en">
<head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


    <script type="text/javascript" src="../resource/js/scriptConsulta.js"></script>


    <link rel="stylesheet" href="../resource/css/estilos-modalConsulta.css">
    <link rel="stylesheet" href="../resource/css/estilos-tablas.css">
</head>

<body>

    <div class="container">
        <h2>Modal Example</h2>
        <form>
            <!-- Trigger the modal with a button -->
            <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#Ahijado">Open Modal</button>
            <div class="datagrid">
                <div class="datagrid table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>header</th>
                                <th>header</th>
                                <th>header</th>
                                <th>header</th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td colspan="4">
                                    <div id="paging">
                                        <ul>
                                            <li><a href="#"><span>Previous</span></a></li>
                                            <li><a href="#" class="active"><span>1</span></a></li>
                                            <li><a href="#"><span>2</span></a></li>
                                            <li><a href="#"><span>3</span></a></li>
                                            <li><a href="#"><span>4</span></a></li>
                                            <li><a href="#"><span>5</span></a></li>
                                            <li><a href="#"><span>Next</span></a></li>

                                        </ul>
                                    </div>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr class="alt">
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr class="alt">
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                            <tr>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                                <td>data</td>
                            </tr>
                        </tbody>
                    </table>
                    <div id="nav"><ul><li><a href="#" rel="0" class="active">1</a></li></ul> </div>
                </div>
            </div>
            <!-- Modal -->
            <div class="modal " id="Ahijado" role="dialog">
                <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" onclick="cancelarModalAlumnos()">&times;</button>
                            <h4 class="modal-title">Apadrinar</h4>
                        </div>
                        <div class="modal-body">
                            <p>
                            </p>
                            <div id="apadrinarAlumno">Padrino elegido: Elizabet Dominguez</div>
                            <p></p>
                            <table id="tablaAlumnosLibres">
                                <tbody>
                                    <tr>
                                        <th onclick="sortTable(0)">Alumnos</th>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="radioAlumno" value="2"> Bartolome Simpsons</td>
                                    </tr>
                                    <tr>
                                        <td><input type="radio" name="radioAlumno" value="1"> Jose Idalgo</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btnGuardar btn-default" data-dismiss="modal" onclick="guardarApadrinaje()">Guardar</button>
                            <button type="button" class="btnCancelar btn-default" data-dismiss="modal" onclick="cancelarModalAlumnos()">Cancelar</button>

                        </div>
                    </div>

                </div>
            </div>
        </form>
    </div>

</body>
</html>
